@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  background: #e5e5e5;
  font-family: "Helvetica", sans-serif;
}

main {
  max-width: 800px;
  width: 90;
  margin: auto;
  padding: 40px;
}

.linea {
  height: 1px;
  background-color: black;
  width: 100%;
  margin: 10px 0;
  grid-column: span 2;
}
